

header{
    margin: none;
    height: 100px;
    width: auto;
    border-width: 3px;
    border-color: #EDCFD4;
    border-style:solid;
    border-radius: 10px;
    background-color: #fff0f3;

   
}


body header .title-one{
    margin-top: 8px;
    background-color: none;
    font-size: 60px;
    color: #EDCFD4;
    text-shadow: #693564 1px 0 5px;
    font-family: 'Gorditas', cursive;
    text-align: center;
}

main .main-logo{
    background-color: none;
    height: 190px;
    text-align: center;
    margin-top: 8px;

}

main .main-logo img{
    height: 190px ;
}

main .intro{
    background-color: #EDCFD4;
    width: 1210px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 45px;
    border-radius: 4px;
}

main .intro .intro-letra{
    font-size: 19px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #fff0f3;
}

main .main-buttons{
    /*background-color: #6C4583;*/
    width: 1300px;
    margin: 30px auto;
}


main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 100px;
    width: 350px;
    border-radius: 60px;
    /*relleno solo del lado derecho e izquierdo de los botones*/
    padding: 0 5px;
    background-color: #fff0f3;
    /*Margen entre botones*/
    margin-left: 60px;
    border-width: 3px;
    border-style: solid;
    border-color: #94646c;
    font-size: 45px;
    font-family: 'Cherry Bomb One', cursive;
    
}

a{
    text-decoration: none;
    color: #693564;
}

main .main-buttons button:hover{
    border-color: #81585f;
    box-shadow: 0 1px 6px 0px #94646c;
}



body .main-text .texto{
    margin: 45px auto;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 1%;
    border-width: 3px;
    border-style: solid;
    border-color: #EDCFD4;
    background-color: #fff0f3;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: justify;
}

h1{
    text-align: center ;
    color: #81585f;
    font-family: 'Montserrat', sans-serif;
    
}

.videos-container {
    height: 210px;
    width:auto;
    padding: 36px;
    background-color: #fff0f3;
    display: flex;
    text-align: center;
    font-size: 20px;
  }
  
.video-item {
    margin: 0 auto;
}

iframe{
    border-radius: 10px;
}

p{
    color:#81585f;
    font-family: 'Montserrat', sans-serif;
    
}

h3{
    text-align: center;
    font-family: 'Bona Nova', serif;
    font-size: 37px;
    color: #94646c;
}

footer .footer-left-section{
    padding-top: 20px;
    font-size: 22px;
    border:none;
    height: 160px;
    background-color: #94646c;
}

b{
    color:#EDCFD4;
    
}

.custom-text {
    color: #fff0f3; 
}

footer .footer-left-section .question-footer{
    font-size: 19px;
    padding-top: 13px;
    background-color: #94646c;
    display: flex;
    list-style: none;
    
   
}
input{
    margin-right: 5px;
    margin-left: 30px;    
   

}

input[type="text"] {
    margin-left: 100px;
    border-radius: 10px; /* Ajusta el valor para redondear los bordes */
    border: 1px solid #fff0f3;
  }